@import '../../styles/displaySettings.scss';
@import '../../styles/colors.scss';
@import '../../styles/boarderRadius.scss';
.book-paginator-container {
    background-color: $grey-color-light;
    @include media("<=phone") {
        border-radius: $border-radius-less-phone;
    }
    @include media(">phone") {
        border-radius: $border-radius-phone;
    }
    @include media(">=815px", "<desktop") {
        border-radius: $border-radius-tablet;
    }
    @include media(">=desktop") {
        border-radius: $border-radius-desktop;
    }
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
}