@import '../../styles/displaySettings.scss';
@import '../../styles/colors.scss';
.navbar-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: max-content;
    align-items: center;
    background-color: white;
    @include media("<=phone") {
        height: 3rem;
    }
    @include media(">phone") {
        height: 4rem;
    }
    @include media(">=815px", "<desktop") {
        height: 4.5rem;
    }
    @include media(">=desktop") {
        height: 4.5rem;
    }
    &__right-section {
        justify-content: flex-end;
        width: 55%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__left-section {
        width: 45%;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
    }
    &__login {
        margin-right: 1rem;
    }
}