@import '../../styles/displaySettings.scss';
.book-card-title {
    text-align: center;
    text-overflow: ellipsis;
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    @include media("<=phone") {
        margin-bottom: 0.5rem;
        font-size: 70%;
        margin-left: 0.5rem;
    }
    @include media(">phone") {
        margin-bottom: 0.6rem;
        font-size: 80%;
        margin-left: 0.6rem;
    }
    @include media(">=815px", "<desktop") {
        margin-bottom: 0.6rem;
        font-size: 90%;
        margin-left: 0.6rem;
    }
    @include media(">=desktop") {
        margin-bottom: 0.7rem;
        font-size: 100%;
        margin-left: 0.7rem;
    }
}