@import '../../../styles/colors.scss';
@import '../../../styles/displaySettings.scss';
@import '../../../styles/boarderRadius.scss';
.subject-list-container {
    background-color: $grey-color-light;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.2rem;
    @include media("<=phone") {
        border-radius: $border-radius-less-phone;
    }
    @include media(">phone") {
        border-radius: $border-radius-phone;
    }
    @include media(">=815px", "<desktop") {
        border-radius: $border-radius-tablet;
    }
    @include media(">=desktop") {
        border-radius: $border-radius-desktop;
    }
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
}